@charset "utf-8";
/* CSS Document */

/*重置*/
*{ margin:0; padding:0; list-style:none; font-family:'yahei','Arial'; letter-spacing:1px;}
.clear{ clear:both;}

/*公共部分*/
.new-mtd{ width:1200px; margin:auto; padding-top:30px;}
.new-top{ width:1200px; margin:auto; background:url(/images/top.jpg) no-repeat;}
.topword{ font-family:'微软雅黑','Arial'; color:#000000;font-size:34px;font-weight:400;padding: 15px 0 0px 30px;}


/*当月微信群招募数---MTD维度*/
.new-line{ width:1200px; margin:auto; padding-top:30px;}
.line-list{ display:block; float:left;}
.line-list li{ display:block; float:left; width:200px; height:200px;}
.list1{ background:url(/images/hq.jpg) no-repeat; background-size:200px 200px;}
.list2{ background: url(/images/uq.jpg) no-repeat; background-size:200px 200px; margin:0 50px;}
.mtd{ font-family:'微软雅黑','Arial'; color:#000000;font-size:14px;text-align:center;margin-bottom: 10px;}
.hb{ color:#ff5752; font-size:18px; padding-right:5px;}
.line-h{ width:90px; background-color:#f3f3f3; height:2px;margin-left: 55px;}
.ear{ font-size:20px;}
.yellow{ color:#ffc442; font-size:18px; padding-right:5px;}
.line-chart{ width:1200px; margin:auto; padding-top:30px;}
.date{ width:1200px; margin:auto; margin-bottom:30px;}
.date-img{ width:100px; height:100px; background:url(/images/date.jpg) no-repeat; background-size:100px 100px;display: block;float: right;}
.nian{ font-size:14px; text-align:center;margin-top: 16px; color:#000;}
.hao{ font-size:46px; text-align:center;margin-top:7px; color:#fff;}


/*新学员进度---实时维度*/
.map-list{ display:block; float:left; width:1200px; margin:auto;margin-top: 40px;}
.map-left{ display:block; float:left; width:760px;}
.map-right{ display:block; float:left; width:440px;}
.r-top{ width:402px; height:64px; background:url(/images/list-top.jpg) no-repeat; background-size:402px 64px;color: #000;font-size: 22px;text-align: center;line-height: 70px; font-family:'微软雅黑'; font-weight:bold; }
.biao{ margin:0 3px; border-left:2px solid #ff807a;  border-right:2px solid #ff807a;width: 392px; background-color:#fff3f3;}
.gao{ height:40px;}